@media (min-width: 320px) and (max-width:767px) {
    /* section products */
    .home__section__products__headline {
        padding: 20px;
    }
    .home__section__products {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-top: 1px solid var(--colorLightGray);
        width: 90%;
        height: 380%;
    }
    .home__section__product__photo {
        display: flex;
        justify-content: center;
    }
    .home__section__product__photo img {
        width: 200px;
    }
    .home__section__product--icon {
        position: relative;
        padding: 15px;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        display: inline;
        width: 50%;
        padding-left: 10px;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
        float: right;
        width: 65%;
    }
    .home__section__product__Descriptions {
        padding: 10px;
    }
}


/* TABLET */

@media (min-width:768px) and (max-width:1023px) {
    /* SECTION PRODUCTS */
    .home__main {
        background-color: var(--colorLightGray);
    }
    .home__section__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 1px rgb(100 100 100);
        align-items: center;
        gap: 27px;
        width: 43%;
        margin-bottom: 29px;
        height: 350%;
        background-color: white;
        padding: 15px;
    }
    .home__section__product__photo {
        display: flex;
        justify-content: center;
    }
    .home__section__product__photo img {
        width: 200px;
    }
    /* HOVER */
    .home__section__product h3 {
        opacity: 0;
        height: 10px;
        width: 100%;
        clip-path: inset(0 0 0 0);
        transition: 0s;
    }
    .home__section__product:hover h3 {
        opacity: 1;
        clip-path: inset(0 0 20% 0);
        transition: 1s;
        background-color: #fff;
        height: 100%;
        padding-left: 10px;
        position: absolute;
        top: 35px;
    }
    .home__section__product:hover {
        height: 350px;
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    .home__section__product--icon:hover i {
        transform: rotate(-90deg);
    }
    .home__section__product__Description {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        position: relative;
        width: 297px;
    }
    .home__section__product--icon {
        position: relative;
        left: 143px;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
    }
    .home__section__products__headline {
        padding: 20px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        margin-right: 33px;
        padding-left: 10px;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__Descriptions {
        color: var(--colorDarkGray);
        font-size: var(--SizeDescriptions);
        font-weight: 400;
    }
}


/* DESKTOP */

@media (min-width:1024px) {
    /* SECTION PRODUCTS */
    .home__main {
        background-color: var(--colorLightGray);
    }
    .home__section__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        width: 90%;
        height: 350px;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(189, 189, 189);
        align-items: center;
        gap: 27px;
        width: 24%;
        height: 95%;
        background-color: white;
    }
    .home__section__product__photo {
        width: 80%;
    }
    .home__section__product__photo img {
        width: 100%;
    }
    /* HOVER */
    .home__section__product h3 {
        opacity: 0;
        height: 10px;
        width: 100%;
        clip-path: inset(0 0 0 0);
        transition: 0s;
    }
    .home__section__product:hover h3 {
        opacity: 1;
        clip-path: inset(0 0 20% 0);
        transition: 1s;
        background-color: #fff;
        height: 30px;
        padding-left: 10px;
        position: absolute;
        top: 45px;
    }
    .home__section__product:hover {
        height: 100%;
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    .home__section__product--icon:hover i {
        transform: rotate(-90deg);
    }
    .home__section__product--icon {
        position: relative;
        left: 143px;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 56px;
        top: -15px;
    }
    /* DESCRIPTION */
    .home__section__products__headline {
        padding: 20px;
        margin-left: 50px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__Descriptions {
        color: var(--colorDarkGray);
        font-size: var(--SizeDescriptions);
        font-weight: 400;
    }
    .home__section__product__Description {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        position: relative;
        width: 187px;
    }
}

@media (min-width:1440px) and (max-width:1919px) {
    /* SECTION PRODUCTS */
    .home__main {
        background-color: var(--colorLightGray);
    }
    .home__section__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        margin: auto;
        height: 415px;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 1px rgb(100 100 100);
        align-items: center;
        gap: 27px;
        width: 24%;
        height: 80%;
        background-color: white;
    }
    /* IMAGE */
    .home__section__product__photo {
        display: flex;
        justify-content: center;
    }
    .home__section__product__photo img {
        width: 200px;
    }
    /* HOVER */
    .home__section__product h3 {
        opacity: 0;
        height: 10px;
        width: 100%;
        clip-path: inset(0 0 0 0);
        transition: 0s;
    }
    .home__section__product:hover h3 {
        opacity: 1;
        clip-path: inset(0 0 20% 0);
        transition: 1s;
        background-color: #fff;
        height: 94%;
        padding-left: 10px;
        position: absolute;
        top: 45px;
    }
    .home__section__product:hover {
        height: 90%;
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    .home__section__product--icon:hover i {
        transform: rotate(-90deg);
    }
    /* DESCRIPTION */
    .home__section__product__Description {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        position: relative;
        width: 187px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__Descriptions {
        color: var(--colorDarkGray);
        font-size: var(--SizeDescriptions);
        font-weight: 400;
    }
    .home__section__product--icon {
        position: relative;
        left: 143px;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 56px;
        top: -15px;
    }
    .home__section__products__headline {
        padding: 20px;
        margin-left: 150px;
    }
}

@media (min-width:1920px)and (max-width:2639px) {
    /* SECTION PRODUCTS */
    .home__main {
        background-color: var(--colorLightGray);
    }
    .home__section__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 415px;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 1px rgb(100 100 100);
        align-items: center;
        gap: 27px;
        width: 24%;
        height: 78%;
        background-color: white;
    }
    /* IMAGE */
    .home__section__product__photo {
        display: flex;
        justify-content: center;
    }
    .home__section__product__photo img {
        width: 200px;
    }
    /* HOVER */
    .home__section__product h3 {
        opacity: 0;
        height: 10px;
        width: 100%;
        clip-path: inset(0 0 0 0);
        transition: 0s;
    }
    .home__section__product:hover h3 {
        opacity: 1;
        clip-path: inset(0 0 20% 0);
        transition: 1s;
        background-color: #fff;
        height: 94%;
        padding-left: 10px;
        position: absolute;
        top: 45px;
    }
    .home__section__product:hover {
        height: 85%;
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    .home__section__product--icon:hover i {
        transform: rotate(-90deg);
    }
    /* DESCRIPTION */
    .home__section__product__Description {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        position: relative;
        width: 187px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__Descriptions {
        color: var(--colorDarkGray);
        font-size: var(--SizeDescriptions);
        font-weight: 400;
    }
    .home__section__product--icon {
        position: relative;
        left: 143px;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 56px;
        top: -15px;
    }
    .home__section__products__headline {
        padding: 20px;
        margin-left: 180px;
    }
}

@media (min-width:2640px) {
    /* SECTION PRODUCTS */
    .home__main {
        background-color: var(--colorLightGray);
    }
    .home__section__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 415px;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 1px rgb(100 100 100);
        align-items: center;
        gap: 27px;
        width: 24%;
        height: 78%;
        background-color: white;
    }
    /* IMAGE */
    .home__section__product__photo {
        display: flex;
        justify-content: center;
    }
    .home__section__product__photo img {
        width: 200px;
    }
    /* HOVER */
    .home__section__product h3 {
        opacity: 0;
        height: 10px;
        width: 100%;
        clip-path: inset(0 0 0 0);
        transition: 0s;
    }
    .home__section__product:hover h3 {
        opacity: 1;
        clip-path: inset(0 0 20% 0);
        transition: 1s;
        background-color: #fff;
        height: 94%;
        padding-left: 10px;
        position: absolute;
        top: 45px;
    }
    .home__section__product:hover {
        height: 85%;
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    .home__section__product--icon:hover i {
        transform: rotate(-90deg);
    }
    /* DESCRIPTION */
    .home__section__product__Description {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        position: relative;
        width: 187px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
        padding-left: 10px;
    }
    .home__section__product__Descriptions {
        color: var(--colorDarkGray);
        font-size: var(--SizeDescriptions);
        font-weight: 400;
    }
    .home__section__product--icon {
        position: relative;
        left: 143px;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 56px;
        top: -15px;
    }
    .home__section__products__headline {
        padding: 20px;
        margin-left: 180px;
    }
    /* footer */
    .home__footer__section {
        display: flex;
        padding: 20px;
        gap: 15px;
    }
    .home__footer__section__article {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .home__footer__section__article i {
        color: var(--colorLightBlue);
        font-size: 2em;
        margin-bottom: 10px;
    }
    .home__footer__section__Copyright {
        margin: 20px;
    }
}