<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body class="home">
    <!-- logo -->
    <header class="home__header">
        <div class="home__header__logo">
            <img src="images/logo-mercado-liebre.svg" />
        </div>

        <!-- search bar -->

        <div class="home__header__search-bar">

            <input type="text" placeholder="Busca productos, marcas" required>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <!-- main text -->
        <div class="home__header__text">
            <p>Compra en cuotas y sin tarjeta de crédito</p>
            <i class="fa-solid fa-hand-holding-dollar"></i>
        </div>


        <!-- browser menu -->
        <nav class="home__header__browser-menu">

            <ul class="home__header__browser-menu__link">
                <li><a href="ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
            <ul>


                <div class="home__header__browser-menu__items">
                    <li><a href="Crea tu cuenta">Crea tu cuenta</a></li>
                    <i class="fa-solid fa-id-card"></i>
                </div>


                <div class="home__header__browser-menu__items">
                    <li><a href="Ingresá">Ingresá</a></li>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>



                <div class="home__header__browser-menu__items">
                    <li><a href="Mis compras ">Mis compras</a></li>
                    <i class="fa-solid fa-basket-shopping"></i>
                </div>

            </ul>
        </nav>

        <!-- burguer-menu -->
        <div class="home__header__burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="home__header__banner---image">
            <img src="images/img-home-banner.jpg" alt="">
        </div>
    </header>


    <!-- main -->
    <main class="home__main">


        <section class="home__section__products">

            <!-- headline -->
            <div class="home__section__products__headline">
                <h2>Basado en tu última visita</h2>
            </div>


            <!-- product -->
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo-primary" src="images/img-cafetera-moulinex.jpg" />
                </div>
                <div>
                    <h4 class="home__section__product--icon"><i class="fa-solid fa-truck"></i></h4>
                    <h4 class="home__section__product__price">$6.770</h4>
                    <h4 class="home__section__product__discounts">40% Off</h4>
                    <h3 class="home__section__product__Descriptions">Cafetera Moulinex</h3>
                </div>
            </article>

            <!-- product -->
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo-primary" src="images/img-macbook-pro-2019.jpg" />
                </div>

                <div>
                    <h4 class="home__section__product--icon"><i class="fa-solid fa-truck"></i></h4>
                    <h4 class="home__section__product__price">$230.000</h4>
                    <h4 class="home__section__product__discounts">20% Off</h4>
                    <h3 class="home__section__product__Descriptions">MacBook Pro 2019</h3>
                </div>


            </article>

            <!-- product -->
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo-primary" src="images/img-samsung-galaxy-s10.jpg" />
                </div>


                <div>
                    <h4 class="home__section__product--icon"><i class="fa-solid fa-truck"></i></h4>
                    <h4 class="home__section__product__price">$70.500</h4>
                    <h4 class="home__section__product__discounts">10% Off</h4>
                    <h3 class="home__section__product__Descriptions">Samsung Galaxy S10</h3>
                </div>

            </article>

            <!-- product -->
            <article class="home__section__product">
                <div>
                    <img class="home__section__product__photo-primary" src="images/img-tv-samsung-smart.jpg" />
                </div>
                <div>
                    <h4 class="home__section__product--icon"><i class="fa-solid fa-truck"></i></h4>
                    <h4 class="home__section__product__price">$23.200</h4>
                    <h4 class="home__section__product__discounts">5% Off</h4>
                    <h3 class="home__section__product__Descriptions">SmartTv Samsung 43"</h3>

                </div>

            </article>





            <!-- headline -->
            <div class="home__section__products__headline">
                <h2>Sección de Ofertas</h2>
            </div>


            <!-- product -->
            <article class="home__section__product">
                <div>
                    <img class="home__section__product__photo-primary" src="images/img-cafetera-moulinex.jpg" />
                </div>
                <div>
                    <h4 class="home__section__product--icon"><i class="fa-solid fa-truck"></i></h4>
                    <h4 class="home__section__product__price">$6.770</h4>
                    <h4 class="home__section__product__discounts">40% Off</h4>
                    <h3 class="home__section__product__Descriptions">Cafetera Moulinex</h3>
                </div>

            </article>

            <!-- product -->
            <article>
                <div>
                    <img class="home__section__product__photo-primary" src="images/img-macbook-pro-2019.jpg" />
                </div>

                <div>
                    <h4 class="home__section__product--icon"><i class="fa-solid fa-truck"></i></h4>
                    <h4 class="home__section__product__price">$230.000</h4>
                    <h4 class="home__section__product__discounts">20$ Off</h4>
                    <h3 class="home__section__product__Descriptions">MacBook Pro 2019</h3>
                </div>

            </article>

            <!-- product -->
            <article class="home__section__product">
                <div>
                    <img class="home__section__product__photo-primary" src="images/img-samsung-galaxy-s10.jpg" />
                </div>

                <div>
                    <h4 class="home__section__product--icon"><i class="fa-solid fa-truck"></i></h4>
                    <h4 class="home__section__product__price">$70.500</h4>
                    <h4 class="home__section__product__discounts">10% Off</h4>
                    <h3 class="home__section__product__Descriptions">Samsung Galaxy S10</h3>
                </div>
            </article>

            <!-- product -->
            <article class="home__section__product">
                <div>
                    <img class="home__section__product__photo-primary" src="images/img-tv-samsung-smart.jpg" />
                </div>
                <div>
                    <h4 class="home__section__product--icon"><i class="fa-solid fa-truck"></i></h4>
                    <h4 class="home__section__product__price">$23.200</h4>
                    <h4 class="home__section__product__discounts">5% Off</h4>
                    <h3 class="home__section__product__Descriptions">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>

    <!-- footer -->
    <footer class="home__footer">
        <section class="home__footer__section">

            <article class="home__footer__section__article">
                <div class="home__footer__section__article__icons"><i class="fa-solid fa-credit-card"></i></div>
                <h4 class="home__footer__section__article-subtitle"> Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>


            <article class="home__footer__section__article">
                <div class="home__footer__section__article__icons"><i class="fa-solid fa-gift"></i></div>
                <h4 class="home__footer__section__article-subtitle">Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>



            <article class="home__footer__section__article">
                <div class="home__footer__section__article__icons"><i class="fa-solid fa-user-shield"></i></div>
                <h4 class="home__footer__section__article-subtitle">Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>

        <section class=" home__footer__section__Copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>