<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
</head>

<body>

    <header class="home__header">

        <div class="home__header__logo">

            <div class="home__header__img">
                <img src="images/logo-mercado-liebre.svg" />
            </div>




            <!-- search bar -->
            <form class="home__header__search-bar" method="get">
                <input type="search" name="search" placeholder="Busca productos, marcas" required>
                <input class="search" type="image" src="/images/magnifying-glass-solid.svg">

            </form>





        </div>





        <div class="home__header__text">
            <p>Compra en cuotas y sin tarjeta de crédito</p>
            <i class="fa-solid fa-hand-holding-dollar"></i>
        </div>


        <!-- browser menu -->
        <nav class="home__header__browser-menu">

            <ul class="home__header__browser-menu__link">
                <li><a href="ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
            <ul>


                <div class="home__header__browser-menu__items">
                    <li><a href="Crea tu cuenta">Crea tu cuenta</a></li>
                    <i class="fa-solid fa-id-card"></i>




                    <li><a href="Ingresá">Ingresá</a></li>
                    <i class="fa-solid fa-right-to-bracket"></i>




                    <li><a href="Mis compras ">Mis compras</a></li>
                    <i class="fa-solid fa-basket-shopping"></i>
                </div>

            </ul>
        </nav>

        <!-- burguer-menu -->
        <div class="home__header__burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="home__header__banner---image">
            <img src="images/img-home-banner.jpg" alt="">
        </div>
    </header>
    <main class="register__main">

        <form class="form">
            <h2 class="form__title">Inicia Sesión</h2>
            <p class="form__paragraph">¿Aún no tienes cuenta? <a href="/register" class="form__link">Ingresa aquí</a></p>
            <div class="form__container">
                <div class="form__group">
                    <input type="text" id="user" class="form__input" placeholder=" ">
                    <label for="user" class="form__label">Usuario:</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group">
                    <input type="text" id="password" class="form__input" placeholder=" ">
                    <label for="password" class="form__label">Contraseña:</label>
                    <span class="form__line"></span>
                </div>

                <input type="submit" class="form__submit" value="Entrar">
            </div>
        </form>

    </main>


</body>

</html>