<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
</head>

<body>
    <!-- logo -->
    <header class="home__header">

        <div class="home__header__logo">

            <div class="home__header__img">
                <a href="/"><img src="images/logo-mercado-liebre.svg" /></a>
            </div>




            <!-- search bar -->
            <form class="home__header__search-bar" method="get">
                <input type="search" name="search" placeholder="Busca productos, marcas" required>
                <input class="search" type="image" src="/images/magnifying-glass-solid.svg">

            </form>





        </div>





        <div class="home__header__text">
            <p>Compra en cuotas y sin tarjeta de crédito</p>
            <i class="fa-solid fa-hand-holding-dollar"></i>
        </div>


        <!-- browser menu -->
        <nav class="home__header__browser-menu">

            <ul class="home__header__browser-menu__link">
                <li><a href="ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>

            <!-- burguer-menu -->
            <label for="menu" class="nav_label">
            <i class="fa-solid fa-bars"></i>
        </label>
            <input type="checkbox" id="menu" class="nav__input">

            <div class="home__header__browser-menu__items">
                <ul>

                    <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-id-card"></i></li>





                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>





                    <li><a href="Mis compras ">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>

                </ul>
            </div>


        </nav>


        <div class="home__header__banner---image">
            <img src="images/img-home-banner.jpg" alt="">
        </div>
    </header>


    <main class="register__main">

        <form action="/" class="form__register">
            <h2 class="form__register-title">Registrate</h2>

            <p class="form__register-paragraph">¿Ya tenés cuenta? <a href="/login" class="form__link">Ingresa aquí</a></p>
            <div class="form__register-container">

                <div class="form__register-group">
                    <input type="text" id="name" class="form__register-input" placeholder=" " autocomplete="off" required minlength="3">
                    <label for="name" class="form__register-label">Nombre y apellido:</label>

                </div>
                <div class="form__register-group">
                    <input type="text" id="user" class="form__register-input" placeholder=" " autocomplete="off">
                    <label for="user" class="form__register-label">Usuario:</label>

                </div>
                <div class="form__register-date">
                    <h3>Fecha de nacimiento:</h3>
                    <input type="date" id="date" class="register-date">

                </div>
                <div class="form__register-group">
                    <input type="text" id="address" class="form__register-input" placeholder=" " autocomplete="off" required minlength="3">

                    <label for="address" class="form__register-label">Dirección:</label>

                </div>
                <div class="form__register-user">
                    <h3>Perfil del usuario</h3>

                    <input type="radio" name="user_type" class="user-input" value="Comprador">
                    <label for="user_type" class="user-label">Comprador</label>
                    <input type="radio" name="user_type" class="user-input" value="Vendedor">
                    <label for="user_type" class="user-label">Vendedor</label>
                </div>
                <div class="form__interests">
                    <h3>Intereses</h3>

                    <div class="form__interests-group">
                        <input type="checkbox" id="interests">
                        <label for="interest">Electro</label>
                    </div>
                    <div class="form__interests-group">
                        <input type="checkbox" id="interests">
                        <label for="interest">Moda</label>
                    </div>
                    <div class="form__interests-group">
                        <input type="checkbox" id="interests">
                        <label for="interest">Hogar</label>
                    </div>
                    <div class="form__interests-group">
                        <input type="checkbox" id="interests">
                        <label for="interest">Juguetería</label>
                    </div>
                    <div class="form__interests-group">
                        <input type="checkbox" id="interests">
                        <label for="interest">Vida sana</label>

                    </div>



                </div>
                <div class="form__register-photo">
                    <h3>Foto de perfil:</h3>
                    <input type="file" name="avatar" id="avatar" accept="jpg">
                    <i class="fa-solid fa-circle-user"></i>
                    <label for="avatar">Cargar archivo</label>


                </div>
                <div class="form__register-group">
                    <input type="password" id="password" class="form__register-input" placeholder=" ">
                    <label for="password" class="form__register-label">Contraseña:</label>

                </div>
                <div class="form__register-group">
                    <input type="password" id="password" class="form__register-input" placeholder=" ">
                    <label for="password" class="form__register-label">Confirmar contraseña:</label>

                </div>




                <div class="form__register-button">
                    <input type="submit" class="form__button-register" value="Entrar">
                    <input type="reset" class="form__button-register" value="Eliminar">
                </div>


            </div>


        </form>

    </main>

    <!-- footer -->
    <footer class="home__footer">
        <section class="home__footer__section">

            <article class="home__footer__section__article">
                <div class="home__footer__section__article__icons"><i class="fa-solid fa-credit-card"></i></div>
                <h4 class="home__footer__section__article-subtitle"> Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>


            <article class="home__footer__section__article">
                <div class="home__footer__section__article__icons"><i class="fa-solid fa-gift"></i></div>
                <h4 class="home__footer__section__article-subtitle">Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>



            <article class="home__footer__section__article">
                <div class="home__footer__section__article__icons"><i class="fa-solid fa-user-shield"></i></div>
                <h4 class="home__footer__section__article-subtitle">Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>

        <section class=" home__footer__section__Copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>


</body>

</html>