:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --SizeBodyText: 12px;
    --SizeHeadline: 24px;
    --SizePrice: 18px;
    --SizeDiscounts: 16px;
    --SizeDescriptions: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--colorGrisClaro);
    font-family: var(--SizeBodyText);
    font-size: var(--SizeBodyText);
}

header {
    background-color: var(--colorAmarillo);
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

h2 {
    font-size: var(--SizeHeadline);
    color: var(--colorGrisOscuro);
}