:root {
    --colorYellow: #EAC926;
    --colorBlue: #03264C;
    --colorLightBlue: #1259c3;
    --colorDarkGray: #666;
    --colorLightGray: #ebebeb;
    --colorGreen: #39b54a;
    --SizeBodyText: 12px;
    --SizeHeadline: 24px;
    --SizePrice: 18px;
    --SizeDiscounts: 16px;
    --SizeDescriptions: 16px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--colorLightGray);
    font-family: var(--SizeBodyText);
    font-size: var(--SizeBodyText);
}

header {
    background-color: var(--colorYellow);
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

h2 {
    font-size: var(--SizeHeadline);
    color: var(--colorDarkGray);
}