<%- include('./partials/head',{
        title: 'Home'
       }) %>


    <body class="home">
        <!-- logo -->
        <%- include('./partials/header') %>
            <!-- main -->
            <main class="home__main">

                <div class="home__header__banner---image">
                    <img src="images/img-home-banner.jpg" alt="">
                </div>



                <!-- headline -->
                <h2 class="home__section__products__headline">Basado en tu última visita</h2>

                <section class="home__section__products">







                    <!-- product -->
                    <article class="home__section__product">
                        <div class="home__section__product__photo ">
                            <img src="images/img-cafetera-moulinex.jpg " />
                        </div>

                        <div class="home__section__product--icon ">
                            <i class="fa-solid fa-truck "></i>
                        </div>
                        <div class="home__section__product__Description ">
                            <h4 class="home__section__product__price ">$6.770</h4>
                            <h4 class="home__section__product__discounts ">40% Off</h4>
                            <h3 class="home__section__product__Descriptions ">Cafetera Moulinex</h3>

                        </div>


                    </article>






                    <!-- product -->



                    <article class="home__section__product">
                        <div class="home__section__product__photo ">
                            <img src="images/img-macbook-pro-2019.jpg " />
                        </div>

                        <div class="home__section__product--icon ">
                            <i class="fa-solid fa-truck "></i>
                        </div>
                        <div class="home__section__product__Description ">
                            <h4 class="home__section__product__price">$230.000</h4>
                            <h4 class="home__section__product__discounts ">20% Off</h4>
                            <h3 class="home__section__product__Descriptions ">MacBook Pro 2019</h3>
                        </div>



                    </article>





                    <!-- product -->

                    <article class="home__section__product">
                        <div class="home__section__product__photo ">
                            <img src="images/img-samsung-galaxy-s10.jpg " />
                        </div>


                        <div class="home__section__product--icon ">
                            <i class="fa-solid fa-truck "></i>
                        </div>
                        <div class="home__section__product__Description ">
                            <h4 class="home__section__product__price ">$70.500</h4>
                            <h4 class="home__section__product__discounts ">10% Off</h4>


                            <h3 class="home__section__product__Descriptions ">Samsung Galaxy S10</h3>
                        </div>

                    </article>







                    <!-- product -->

                    <article class="home__section__product">
                        <div class="home__section__product__photo ">
                            <img src="images/img-tv-samsung-smart.jpg " />
                        </div>
                        <div class="home__section__product--icon ">
                            <i class="fa-solid fa-truck "></i>
                        </div>
                        <div class="home__section__product__Description ">
                            <h4 class="home__section__product__price ">$23.200</h4>
                            <h4 class="home__section__product__discounts ">5% Off</h4>
                            <h3 class="home__section__product__Descriptions ">SmartTv Samsung 43"</h3>

                        </div>

                    </article>
                </section>







                <!-- headline -->
                <h2 class="home__section__products__headline">Sección de Ofertas</h2>
                <section class="home__section__products">







                    <!-- product -->
                    <article class="home__section__product">
                        <div class="home__section__product__photo ">
                            <img src="images/img-cafetera-moulinex.jpg " />
                        </div>

                        <div class="home__section__product--icon ">
                            <i class="fa-solid fa-truck "></i>
                        </div>
                        <div class="home__section__product__Description ">
                            <h4 class="home__section__product__price ">$6.770</h4>
                            <h4 class="home__section__product__discounts ">40% Off</h4>
                            <h3 class="home__section__product__Descriptions ">Cafetera Moulinex</h3>
                        </div>


                    </article>






                    <!-- product -->



                    <article class="home__section__product">
                        <div class="home__section__product__photo ">
                            <img src="images/img-macbook-pro-2019.jpg " />
                        </div>

                        <div class="home__section__product--icon ">
                            <i class="fa-solid fa-truck "></i>
                        </div>
                        <div class="home__section__product__Description ">
                            <h4 class="home__section__product__price ">$230.000</h4>
                            <h4 class="home__section__product__discounts ">20% Off</h4>
                            <h3 class="home__section__product__Descriptions ">MacBook Pro 2019</h3>
                        </div>


                    </article>





                    <!-- product -->

                    <article class="home__section__product">
                        <div class="home__section__product__photo ">
                            <img src="images/img-samsung-galaxy-s10.jpg " />
                        </div>


                        <div class="home__section__product--icon ">
                            <i class="fa-solid fa-truck "></i>
                        </div>
                        <div class="home__section__product__Description ">

                            <h4 class="home__section__product__price ">$70.500</h4>
                            <h4 class="home__section__product__discounts ">10% Off</h4>


                            <h3 class="home__section__product__Descriptions ">Samsung Galaxy S10</h3>
                        </div>

                    </article>







                    <!-- product -->

                    <article class="home__section__product">
                        <div class="home__section__product__photo ">
                            <img src="images/img-tv-samsung-smart.jpg " />
                        </div>
                        <div class="home__section__product--icon ">
                            <i class="fa-solid fa-truck "></i>
                        </div>
                        <div class="home__section__product__Description ">
                            <h4 class="home__section__product__price ">$23.200</h4>
                            <h4 class="home__section__product__discounts ">5% Off</h4>
                            <h3 class="home__section__product__Descriptions ">SmartTv Samsung 43"</h3>

                        </div>

                    </article>
                </section>





            </main>
            <%- include('./partials/footer') %>

    </body>

    </html>