<%- include('./partials/head',{
    title: 'Terminos y Condiciones'
}) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tempore, maiores voluptas reprehenderit eos eligendi velit, quos sapiente sunt, magnam saepe cumque? Nam error consequuntur velit fuga dolor dolores quo. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Soluta tenetur libero distinctio fugit voluptatem quia ad accusantium ratione et, accusamus repudiandae, enim eaque illum exercitationem? Nostrum numquam ut saepe minus aperiam dolor exercitationem,
                    nobis, consectetur pariatur deserunt ratione dignissimos ducimus omnis facere sapiente? Molestiae tenetur optio velit assumenda veritatis ullam illo necessitatibus voluptatum animi soluta vitae iusto quod est quos doloribus numquam
                    molestias quo distinctio, sed eos! Distinctio eveniet blanditiis esse inventore quaerat, rerum atque consequuntur deleniti adipisci praesentium illum voluptatum omnis sit quis doloribus soluta! Ea aliquam doloremque iste voluptate
                    iusto natus similique deserunt vero vitae officiis, eum in provident quod cum quibusdam doloribus! Officiis quas tempore illum inventore nesciunt maiores corporis animi at dignissimos esse reiciendis, numquam ipsum ipsa. At nulla deserunt
                    cum qui fugiat placeat ea iure perspiciatis quia ad culpa eum vel alias molestias, consectetur commodi iste sit blanditiis tempora. Qui facilis neque officia cum dicta impedit iusto voluptatum nam corrupti doloribus nobis odio magnam
                    ducimus quis, sapiente consequatur quasi molestiae aut sit itaque, eius nihil adipisci. Odit sunt ut, nisi iure, placeat beatae, tempora nihil doloremque voluptatibus officia cumque delectus quis. Sint, nemo. Illo iste doloribus in
                    exercitationem alias qui, officia eius! Eius, quaerat rem. Quo commodi debitis magnam. Est non odit excepturi iure reprehenderit voluptas qui assumenda laboriosam cumque animi nulla, expedita mollitia unde, rem obcaecati eveniet deserunt!
                    Est incidunt error quasi rem numquam! Explicabo a laboriosam sed dicta nostrum quasi esse hic sint optio perspiciatis natus aliquam illum, aliquid repudiandae tempore corporis dolorum saepe repellendus porro quis dolorem. Ipsum, accusantium?
                    Nihil eligendi, eos tempore asperiores quod quas voluptatem autem corrupti. Tempora libero temporibus porro et eligendi. Voluptates nam consequuntur laborum a nihil. Distinctio quos ullam aut quod laborum soluta sint! Dicta, praesentium
                    aspernatur placeat beatae nobis, ea impedit non eaque dignissimos possimus accusantium. Ratione eum incidunt explicabo neque deserunt nesciunt quaerat quas a illo quae! Ipsa quis explicabo atque eius officiis nesciunt. Rem eos quasi
                    totam, impedit pariatur quibusdam ratione, odio repellat saepe quidem officia beatae doloribus officiis laboriosam sapiente optio veritatis nisi, quam asperiores repudiandae. Iste autem dolorem magni ea reprehenderit sed dolorum obcaecati
                    error harum animi nam, assumenda laudantium enim architecto. Voluptatem ipsa sapiente quod vero, dolores cum blanditiis repudiandae quasi officiis necessitatibus alias magni mollitia quae temporibus eum ipsam in sunt tempora! Saepe,
                    nobis. Fuga id eligendi consequuntur quaerat ea optio exercitationem ullam corrupti incidunt quos nobis, ducimus odio sapiente veritatis itaque voluptate hic aliquam, enim at explicabo. Animi qui laboriosam necessitatibus harum eius
                    odit quae natus debitis! Praesentium ad temporibus consequatur provident. Saepe, expedita! Nesciunt sapiente, qui sed odio saepe nostrum quidem minima eius veniam veritatis atque earum distinctio delectus reiciendis at magnam doloribus
                    incidunt voluptatibus tempora excepturi natus rem aperiam iste dolorum! Maiores esse, corporis quo amet mollitia necessitatibus adipisci tenetur, odio eos vel quos itaque illum nesciunt? Sint sequi distinctio sit optio illum culpa
                    laudantium similique in inventore id possimus dignissimos molestias doloribus, quos ratione maxime, maiores odio accusantium necessitatibus. Ducimus et laborum dignissimos accusamus est debitis. Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit. Exercitationem perferendis ratione suscipit aperiam aspernatur odit veniam nisi, quidem culpa modi consequatur, nemo consequuntur minima facere ipsum cumque in ducimus obcaecati! Iure cumque quasi optio assumenda
                    tempora iusto delectus minus officia! Autem necessitatibus quibusdam aliquid dolorem delectus, laboriosam corporis quia! Aut ad nam assumenda voluptate porro accusantium dolores odio quas recusandae reiciendis, dignissimos repellendus
                    quam modi quo a hic. Blanditiis sapiente similique sit dolore. Praesentium rem nemo id consequuntur assumenda? Similique, dicta ratione ex eum rem veritatis enim magnam odio vitae voluptas perspiciatis! Iusto sed tenetur, ipsam, distinctio
                    ab eveniet beatae sit recusandae reprehenderit tempore deserunt commodi necessitatibus vitae numquam autem a quia libero similique. Corrupti, nobis saepe sed voluptates qui eum unde illo adipisci provident sint. Aspernatur excepturi
                    minus, magni nobis sunt voluptatum enim voluptate ipsam natus veniam saepe officia laboriosam quasi possimus sequi consectetur autem voluptas incidunt qui officiis vero quaerat! Aperiam, ut voluptatem sapiente, libero odio nobis rerum
                    beatae, minima ipsum in nam consectetur vero. Culpa nostrum praesentium at, ullam neque dolorem labore sint inventore commodi ducimus reiciendis debitis iure aut blanditiis corrupti dolore minus odit sunt quam nisi quas quaerat consequuntur.
                    Recusandae tenetur ipsa eligendi totam asperiores? Iure laboriosam eius possimus recusandae in ipsum perferendis vel, ex officia consequuntur est. Amet harum suscipit culpa dignissimos animi ipsa neque nulla iusto facilis debitis,
                    quibusdam ullam at soluta assumenda mollitia, facere corrupti laudantium recusandae voluptatem beatae, veritatis reiciendis nihil nisi. Atque fuga aliquam similique illo aut placeat, reiciendis minus voluptates doloremque est quae
                    unde dicta numquam aperiam libero optio deleniti labore vel. Quis temporibus impedit, totam modi doloremque necessitatibus repudiandae repellat iure natus quaerat quidem commodi minima nihil porro consequuntur reprehenderit quo sit
                    blanditiis laborum cumque. Quo, amet dicta architecto eius maiores provident pariatur veniam fuga eos labore quis corporis ab! Dolor quidem, labore amet minima est ipsa natus tempore eos ab laboriosam dolorum, officiis, vero quod reiciendis
                    veritatis necessitatibus sint id. Nostrum harum, veritatis repellat inventore repudiandae, doloremque consectetur in aut eligendi error hic veniam officiis. Maxime numquam earum modi voluptatum saepe perferendis non ut labore aut,
                    sapiente exercitationem expedita iusto nisi itaque excepturi? Facilis nobis enim reiciendis laboriosam iusto explicabo eligendi delectus, temporibus est sunt velit tenetur odio omnis. Possimus dolores sit vitae? Fugiat, earum ratione
                    repellendus explicabo iusto quam et beatae dolorem dolore at eum reprehenderit asperiores voluptatem aliquid blanditiis, mollitia omnis deserunt molestias id cum quidem? Laboriosam magni sit atque culpa maiores esse neque minus officiis
                    temporibus ea sapiente laudantium fuga rerum ut, quia perferendis optio animi? Dolore molestias, neque optio laborum atque quaerat, hic, vel sint sed commodi rerum officiis dolorem quam quas illum expedita officia sit. Soluta eum,
                    minima quo enim facere aliquid commodi cumque! Culpa, qui blanditiis? Harum aut itaque sint consequatur qui esse perspiciatis rerum rem consectetur dolorem soluta quas, exercitationem minus molestias beatae accusantium nobis sed voluptas
                    accusamus ut error? Provident distinctio repudiandae voluptatibus! Assumenda aliquam enim illo harum sunt pariatur placeat commodi. Sunt voluptatem beatae nulla tempore magnam magni!
                </p>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>