<header class="home__header">
  <div class="home__header__logo">
    <div class="home__header__img">
      <a href="/"><img src="/images/logo-mercado-liebre.svg" /></a>
    </div>

    <!-- search bar -->
    <form class="home__header__search-bar" method="get">
      <input
        type="search"
        name="search"
        placeholder="Busca productos, marcas"
        required
      />
      <input
        class="search"
        type="image"
        src="/images/magnifying-glass-solid.svg"
      />
    </form>
  </div>

  <div class="home__header__text">
    <p>Compra en cuotas y sin tarjeta de crédito</p>
    <i class="fa-solid fa-hand-holding-dollar"></i>
  </div>

  <!-- browser menu -->
  <nav class="home__header__browser-menu">
    <ul class="home__header__browser-menu__link">
      <% if (locals.userLogin) { %>
      <li><a href="ofertas">Ofertas</a></li>
      <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
     <li><a href="Ayuda">Ayuda</a></li>
      <% } else {  %>
      <li><a href="ofertas">Ofertas</a></li>
      <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
 <li><a href="Ayuda">Ayuda</a></li>
    </ul>
    <% } %>

    <!-- burguer-menu -->
    <label for="menu" class="nav_label">
      <i class="fa-solid fa-bars"></i>
    </label>
    <input type="checkbox" id="menu" class="nav__input" />

    <div class="home__header__browser-menu__items">
      <ul>
        <li>
            <% if (locals.userLogin) { %>
                <li>
                  <a href="Mis compras ">Mis compras</a
                  ><i class="fa-solid fa-basket-shopping"></i>
                  <li><a href=""><%= userLogin.name %> </a></li>
                  <li>
                    <a href="/users/logout">Salir</a>
                </li>
                </li>
                <% } else {  %>
          <a href="/users/register">Crea tu cuenta</a
          ><i class="fa-solid fa-id-card"></i>
        </li>
        <li>
          <a href="/users/login">Ingresá</a
          ><i class="fa-solid fa-right-to-bracket"></i>
        </li>
        <% } %>

       
      </ul>
    </div>
  </nav>
</header>
