@media (min-width: 320px) and (max-width:767px) {
    /* header */
    .home__header__logo {
        display: flex;
        padding: 15px;
    }
    .home__header__img {
        width: 50%;
        position: relative;
        margin-right: 5px;
    }
    .home__header__search-bar {
        width: 50%;
        padding-top: 20px;
        position: relative;
        float: right;
    }
    .home__header__search-bar :nth-child(1) {
        width: 80%;
        margin-right: 3px;
    }
    .home__header__search-bar :nth-child(2) {
        width: 12%;
        background-color: #fff;
        position: absolute;
        bottom: 2px;
        border: 1px solid black;
    }
    .home__header__text {
        display: flex;
        margin-top: 10px;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .home__header__browser-menu__items {
        display: flex;
    }
    .home__header__browser-menu__items li {
        margin-right: 5px;
    }
    .home__header__browser-menu__link {
        margin-top: 20px;
        margin-bottom: 20px;
        display: none;
    }
    .nav_label {
        display: flex;
        justify-content: center;
        margin: 10px;
        width: 100;
    }
    .nav_label i {
        background-color: blue;
        border-radius: 10%;
        font-size: 27px;
        padding: 5px;
        color: white;
    }
    .nav__input {
        display: none;
    }
    .home__header__browser-menu__items {
        position: absolute;
        top: 80px;
        bottom: 0;
        background-color: var(--colorYellow);
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        margin-top: 62px;
    }
    .nav__input:checked+.home__header__browser-menu__items {
        margin-top: 62px;
        clip-path: circle(100% at center);
    }
    .home__header__browser-menu__items ul {
        width: 40%;
    }
    .home__header__browser-menu__items li {
        padding: 10px;
    }
    .home__header__browser-menu__items i {
        float: left;
    }
    .home__header__browser-menu__items a {
        padding: 8px;
    }
    .home__header__banner---image {
        width: auto;
        height: 80px;
    }
    .home__header__banner---image img {
        width: 100%;
        height: 100%;
    }
    /* section products */
    .home__main {
        width: 90%;
        margin: auto;
    }
    .home__section__products__headline {
        padding: 20px;
    }
    .home__section__products {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-top: 1px solid var(--colorLightGray);
        width: 100%;
    }
    .home__section__product__photo {
        width: 100%;
    }
    .home__section__product__photo img {
        width: 100%;
    }
    .home__section__product--icon {
        position: relative;
        padding: 15px;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        display: inline;
        width: 50%;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
        float: right;
        width: 65%;
    }
    /* footer */
    .home__footer__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 60px;
    }
    .home__footer__section__article {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .home__footer__section__article i {
        color: var(--colorLightBlue);
        font-size: 2em;
        margin-bottom: 10px;
    }
    .home__footer__section__Copyright {
        margin: 20px;
    }
}


/* TABLET */

@media (min-width:768px) and (max-width:1023px) {
    /* HEADER */
    .home__header__logo {
        display: inline-block;
        width: 68%;
        padding: 30px 0 10px 10px;
    }
    .home__header__img {
        width: 41%;
        display: inline-block;
    }
    .home__header__search-bar {
        width: 54%;
        padding-top: 10px;
        position: relative;
        float: right;
        display: flex;
        justify-content: center;
    }
    .home__header__search-bar :nth-child(1) {
        width: 100%;
        position: relative;
        border: none;
        border-radius: 8%;
        padding: 10px;
    }
    .home__header__search-bar :nth-child(2) {
        top: 18px;
        width: 6%;
        background-color: #fff;
        position: absolute;
        right: 7px;
        border-radius: 22%;
    }
    .home__header__text {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 50px;
        padding-right: 20px;
        float: right;
    }
    .home__header__browser-menu {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    .home__header__browser-menu__link {
        width: 50%;
        display: flex;
        gap: 20px;
    }
    .home__header__browser-menu__items {
        display: flex;
    }
    .home__header__browser-menu__items li {
        margin-left: 20px;
    }
    .home__header__burger-menu {
        display: none;
    }
    .home__header__banner---image {
        width: auto;
        height: 130px;
    }
    .home__header__banner---image img {
        width: 100%;
        height: 100%;
    }
    /* SECTION PRODUCTS */
    .home__main {
        background-color: var(--colorLightGray);
        width: 90%;
        margin: auto;
    }
    .home__section__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
        width: 43%;
        margin-bottom: 20px;
        /* height: 369px; */
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100 100 100);
        padding: 15px;
    }
    .home__section__product--icon {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-top: 19px;
        gap: 19px;
    }
    .home__section__product__photo {
        width: 80%;
    }
    .home__section__product__photo img {
        width: 100%;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
    }
    .home__section__products__headline {
        padding: 20px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        margin-right: 33px;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
    }
    .home__section__product__Descriptions {
        color: var(--colorDarkGray);
        font-size: var(--SizeDescriptions);
        font-weight: 400;
    }
    /* footer */
    .home__footer__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 60px;
    }
    .home__footer__section__article {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .home__footer__section__article i {
        color: var(--colorLightBlue);
        font-size: 2em;
        margin-bottom: 10px;
    }
    .home__footer__section__Copyright {
        margin: 20px;
    }
}

@media (min-width:1024px) {
    /* HEADER */
    .home__header__logo {
        display: inline-block;
        width: 72%;
        padding: 30px 0 10px 10px;
    }
    .home__header__img {
        width: 35%;
        display: inline-block;
    }
    .home__header__search-bar {
        width: 59%;
        padding-top: 20px;
        position: relative;
        float: right;
        display: flex;
        justify-content: center;
    }
    .home__header__search-bar :nth-child(1) {
        width: 91%;
        position: relative;
        border: none;
        border-radius: 5%;
        padding: 10px;
    }
    .home__header__search-bar :nth-child(2) {
        top: 25px;
        font-size: 15px;
        width: 5%;
        background-color: #fff;
        position: absolute;
        right: 24px;
        border-radius: 22%;
    }
    .home__header__text {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 60px;
        padding-right: 60px;
        float: right;
    }
    .home__header__browser-menu {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    .home__header__browser-menu__link {
        width: 50%;
        display: flex;
        gap: 20px;
    }
    .home__header__browser-menu__items {
        display: flex;
    }
    .home__header__browser-menu__items li {
        margin-left: 20px;
    }
    .home__header__burger-menu {
        display: none;
    }
    .home__header__banner---image {
        width: auto;
        height: 130px;
    }
    .home__header__banner---image img {
        width: 100%;
        height: 100%;
    }
    .home__main {
        background-color: var(--colorLightGray);
    }
    .home__section__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }
    .home__section__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
        width: 23%;
        height: 327px;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    .home__section__product--icon {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 19px;
        gap: 19px;
    }
    .home__section__product__photo {
        width: 80%;
    }
    .home__section__product__photo img {
        width: 100%;
    }
    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        color: #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
    }
    .home__section__products__headline {
        padding: 20px;
    }
    .home__section__product__price {
        font-size: var(--SizePrice);
        font-weight: 400;
        margin-right: 33px;
    }
    .home__section__product__discounts {
        color: rgb(83, 168, 132);
        font-size: var(--SizeDiscounts);
        font-weight: 400;
    }
    .home__section__product__Descriptions {
        color: var(--colorDarkGray);
        font-size: var(--SizeDescriptions);
        font-weight: 400;
    }
    /* footer */
    .home__footer__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 60px;
    }
    .home__footer__section__article {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .home__footer__section__article i {
        color: var(--colorLightBlue);
        font-size: 2em;
        margin-bottom: 10px;
    }
    .home__footer__section__Copyright {
        margin: 20px;
    }
}